@font-face {
    font-family: "OfficinaSansBook";
    src: url("font/OfficinaSerifBookC.eot");
    src: url("font/OfficinaSerifBookC.eot?#iefix")format("embedded-opentype"),
    url("font/OfficinaSerifBookC.woff") format("woff"),
    url("font/OfficinaSerifBookC.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body
{
    background-color: black;
}

div.elem
{
    position: relative;
    left: 20%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    flex-direction: column;
}

.blink {
    animation: blink 2s infinite;
}
@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

p
{
    position: relative;
    font-family: "OfficinaSansBook", sans-serif;
    margin: 0;
    color:black;
}

p.disable_for_animations
{
    background-color: deepskyblue;
}